<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Dahboard</h1>

    <form action="process" method="post">
        <p>Username : <input type="text" name="name"></p>
        <p>Favorite Number  : <input type="number" name="favNumber"></p>
        <button>Submit</button>

    </form>
</body>
</html>