<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>First View </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quibusdam recusandae nobis quas magnam ipsum porro inventore dolor alias! Deserunt autem quibusdam sunt at officia iusto expedita repellat repudiandae neque?</p>
    <img src="~/images/C#" alt="Some image to show">
</body>
</html>