@{
    ViewData["Title"] = "Home Page";
    string Username = Context.Session.GetString("username");
    
    int Age = (int)Context.Session.GetInt32("age");
}


<div>
    <h1>Session Here</h1>
    <div class="card shadow mb-3">
        <div class="card-body">
            <div class="card-text h4">
                Username : @Context.Session.GetString("username")
                <br>
                <span class="text-info">Username : @Username</span>
            </div>
            <div class="card-text h4">
                Age : @Context.Session.GetInt32("age")
                <br>
                <span class="text-info">Age : @Age</span>
            </div>
        </div>
    </div>
</div>


    <div class="card shadow mb-3 text-center">
        <h4 class="card-head">🇹🇳 Session Form 🇹🇳</h4>
        <div class="card-body bg-secondary bg-opacity-25 bg-gradient">
            <form action="users/create" method="post">
                <div class="form-group mb-3">
                    <label for="" class="form-label">Name
                        <input type="text" class="form-control" name="name">
                        </div>
                <div class="form-group mb-3">
                    <label for="" class="form-label">Age
                        <input type="int" class="form-control"name="userAge">
                        </div>
                <div class="form-group mb-3">
                    <label for="" class="form-label">Favourite food
                        <input type="text" class="form-control">
                        </div>
                        <input type="submit" value="Post User" class="btn btn-success w-25" name="favFood">
            </form>
        </div>
    </div>
