@await Html.PartialAsync("_VisitorNav")

<div class="card mb-4">
    <h5 class="card-header">Money</h5>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text"></p>
        <a href="/donate" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

<div class="card mb-4">
    <h5 class="card-header">Medications</h5>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">Medications play a crucial role in maintaining our health and well-being.</p>
        <a href="/donate" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

<div class="card mb-4">
    <h5 class="card-header">Clothing</h5>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">Clothing is not just a necessity but also a form of self-expression.</p>
        <a href="/donate" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

<div class="card mb-4">
    <h5 class="card-header">Equipments</h5>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">Quality equipment can make tasks easier and more efficient.</p>
        <a href="/donate" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

<div class="card">
    <h5 class="card-header">Foods</h5>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">Food is not just sustenance; it's a delightful experience for the senses.</p>
        <a href="/donate" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
